@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

p {
  @apply mb-4;
}

ul {
  @apply list-disc list-inside;
}

strong {
  @apply font-bold text-indigo-400;
}

em {
  @apply italic text-pink-500;
}

.btn-primary {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl hover:bg-indigo-700 transition-all duration-200 ease-in-out;
}

.btn-primary:disabled {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl opacity-50 cursor-not-allowed;
}

.main-container {
  @apply flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-white bg-opacity-5 h-full p-4;
}
/* Animations */

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-color-1 {
  color: #818cf8;
}

.icon-color-2 {
  color: #f8b400;
}

.icon-color-3 {
  color: #f8a3d0;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1b263b;
  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1b263b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
  border: 2px solid #1b263b; 
}

.dashboard-box {
  border-radius: 15.346px !important;
  background: #FFF !important;
  box-shadow: 1.279px 1.279px 2.558px 0px rgba(189, 189, 189, 0.30) inset, -1.279px -1.279px 2.558px 0px rgba(192, 192, 192, 0.50) inset, -6.394px 6.394px 12.788px 0px rgba(184, 184, 184, 0.20), 6.394px -6.394px 12.788px 0px rgba(189, 189, 189, 0.20), 6.394px 6.394px 16.625px 0px rgba(233, 233, 233, 0.90), -5.115px -5.115px 23.019px 6.394px #F1F1F1  !important;
}